
@font-face {
  font-family: Holotype;
  src: url("Holotype 9 Basic.ttf");
}


body, html {
  height: 100%;
  padding: 0px;
  margin: 0px;

}

.parallax {
  /* The image used */
  background-image: url("photo.jpeg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  

  div{
    position: absolute;
    top:50%; left:50%;
    translate: -50%;
    font-size: 70px;
    background-color: aquamarine;
    padding: 20px;
    font-family: Holotype;
    filter: none;

  }
}

div.main:not(div.parallax){
  width: 100%;
  height: 300%;
}

div.me{
  float: left;
  background-color: pink;
  margin-left: 7px;
  border-radius: 25px;
  padding: 5px;
  width: 360px;
  height: 500px;
  z-index: 2;
  

  h1{
    text-align: center;
    text-transform: capitalize;
    font-family: Holotype;
    font-size: 60px;
  }
}

div.social{
  float: right;
  background-color: pink;
  margin-right: 7px;
  border-radius: 25px;
  padding: 5px;
  width: 360px;
  height: 500px;
  z-index: 2;
 
  

  h1{
    text-align: center;
    text-transform: capitalize;
    font-family: Holotype;
    font-size: 60px;
  }
}

box-icon, img{
 width: 150px !important;
 height: 150px !important ;
 margin-left: 2px;
 margin-right: 2px;

}

box-icon:hover::after, img:hover::after{
  position: absolute !important;
  content: "Youtube";
  background-color: black;
  color: aliceblue;
font-size: 40px;
  font-family: Holotype;
  border: 4px aliceblue;
  padding: 8px;
  z-index: 99;
  
 }


 iframe{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
 }